{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="container">
    <form action="{{ path_for('evenement.edit', {'id': evenement.id}) }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" name="image" id="image">
        </div>

        {{ form.group('nom', evenement.nom, 'nom', 'Nom') }}
        {{ form.group('date_debut', evenement.date_debut|date('d/m/Y'), 'date_debut', 'Début', null, 'date') }}
        {{ form.group('date_fin', evenement.date_fin|date('d/m/Y'), 'date_fin', 'Fin', null, 'number') }}
        {{ form.group('adresse', evenement.adresse, 'adresse', 'Lieu') }}
        {{ form.group('discipline', evenement.discipline, 'discipline', 'Discipline') }}
        {{ form.group('telephone', evenement.telephone, 'telephone', 'Téléphone', null, 'tel') }}

        <div class="form-group">
            <label for="etat">État</label>
            <select name="etat" id="etat">
                <option value="0" disabled {% if evenement.etat == 0 %} selected{% endif %}>Choisir un état</option>
                <option value="1"{% if evenement.etat == 1 %} selected{% endif %}>Validé</option>
                <option value="2"{% if evenement.etat == 2 %} selected{% endif %}>Ouvert à l'inscription</option>
                <option value="4"{% if evenement.etat == 4 %} selected{% endif %}>Clos à l'inscription</option>
                <option value="3"{% if evenement.etat == 3 %} selected{% endif %}>En cours</option>
                <option value="5"{% if evenement.etat == 5 %} selected{% endif %}>Expiré</option>
                <option value="6"{% if evenement.etat == 6 %} selected{% endif %}>Annulé</option>
            </select>
        </div>

        <textarea name="description" id="description" class="form-control" placeholder="Description">{{ evenement.description }}</textarea>

        {{ csrf() }}
        <input type="submit" class="btn btn-primary">
    </form>
    <a href="{{ path_for('epreuve.add', {'id_evenement': evenement.id}) }}" class="btn btn-default">Ajouter une épreuve</a>
</div>

{% endblock %}
