{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h3>Ajout d'épreuve</h3>

            <form action="" method="POST" enctype="multipart/form-data">
                <div class="page-header">
                {{ form.group('nom', null, 'nom', 'Nom de l\'épreuve') }}
                </div>
                {{ form.group('date_debut', null, 'date_debut', 'Début', null, 'text', 'JJ/MM/AAAA') }}
                {{ form.group('heure_debut', null, 'heure_debut', 'Heure', null, 'text', '12:00') }}

                <div class="form-group{% if hasError('epreuve_pic_link') %} has-error{% endif %}">
                    <input type="file" name="epreuve_pic_link" id="epreuve_pic_link">
                    <span class="help-block">{{ error('epreuve_pic_link') }}</span>
                </div>

                {{ form.group('date_fin', null, 'date_fin', 'Fin', null, 'text', 'JJ/MM/AAAA') }}
                {{ form.group('heure_fin', null, 'heure_fin', 'Heure', null, 'text', '12:00') }}

                <div class="form-group{% if hasError('description') %} has-error{% endif %}">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" placeholder="Donnez les détails concernant cette épreuve" class="form-control"></textarea>
                    <span class="help-block">{{ error('description') }}</span>
                </div>

                {{ form.group('capacite', null, 'capacite', 'Capacité maximum', null, 'number') }}
                {{ form.group('prix', null, 'prix', 'Prix de participation (€)', null, 'number') }}

                {{ csrf() }}
                <input type="submit" class="btn btn-primary" value="Créer l'épreuve">
            </form>
        </div>
    </div>

{% endblock %}