{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h3>Ajout d'épreuve</h3>
        <form action="{{ path_for('epreuve.add', {'id_evenement': id}) }}" method="post" autocomplete="off" enctype="multipart/form-data">
            <input type="hidden" name="op" id="op" value="reg">

            <div class="form-group{% if hasError('epreuve_name') %}  has-error {% endif %} ">
                <input type="text" name="epreuve_name" id="epreuve_name" class="form-control" placeholder="Nom de l'épreuve">
                <span class="help-block">{{ error('epreuve_name') }}</span>
            </div>

            <div class="form-group{% if hasError('date_debut') %}  has-error {% endif %} ">
                <label for="date_debut">Début (jour mois année)</label>
                <input type="text" name="date_debut" id="date_debut" class="form-control">
                <span class="help-block">{{ error('date_debut') }}</span>
            </div>

             <div class="form-group{% if hasError('heure_debut') %}  has-error {% endif %} ">
                <label for="heure_debut">heure : </label>
                <input type="text" name="heure_debut" id="heure_debut" class="form-control">
                <span class="help-block">{{ error('heure_debut') }}</span>
            </div>

            <div class="form-group{% if hasError('epreuve_pic_link') %}  has-error {% endif %} ">
                <input type="file" name="epreuve_pic_link" id="epreuve_pic_link">
                <span class="help-block">{{ error('epreuve_pic_link') }}</span>
            </div>

            <div class="form-group{% if hasError('date_fin') %}  has-error {% endif %} ">
                <label for="date_fin">Fin (jour mois année)</label>
                <input type="text" name="date_fin" id="date_fin" class="form-control">
                <span class="help-block">{{ error('date_fin') }}</span>
            </div>

            <div class="form-group{% if hasError('heure_fin') %}  has-error {% endif %} ">
                <label for="heure_fin">heure : </label>
                <input type="text" name="heure_fin" id="heure_fin" class="form-control">
                <span class="help-block">{{ error('heure_fin') }}</span>
            </div>

             <div class="form-group{% if hasError('epreuve_description') %}  has-error {% endif %} ">
                <label for="epreuve_description">Description : </label>
                <textarea rows="6" cols="50" name="epreuve_description" id="epreuve_description" placeholder="Donnez les détails concernant cette épreuve." class="form-control"></textarea>
                <span class="help-block">{{ error('epreuve_description') }}</span>
            </div>

             <div class="form-group{% if hasError('capacite') %}  has-error {% endif %} ">
                <label for="capacite">Capacité maximum : </label>
                <input type="text" name="capacite" id="capacite" class="form-control">
                <span class="help-block">{{ error('capacite') }}</span>
            </div>

             <div class="form-group{% if hasError('prix') %}  has-error {% endif %} ">
                <label for="prix">Prix de participation (€)</label>
                <input type="text" name="prix" id="prix" class="form-control">
                <span class="help-block">{{ error('prix') }}</span>
            </div>

            <button type="submit">Créer l'épreuve</button>
            {{ csrf() }}
        </form>
    </div>
</div>

{% endblock %}