{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h3>Modification d'épreuve</h3>

            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.group('nom', epreuve.nom, 'nom', 'Nom de l\'épreuve') }}
                {{ form.group('date_debut', epreuve.date_debut|date('d/m/Y'), 'date_debut', 'Début', null, 'text', 'JJ/MM/AAAA') }}
                {{ form.group('heure_debut', epreuve.heure_debut|date('H:i'), 'heure_debut', 'Heure', null, 'text', '12:00') }}

                <div class="form-group{% if hasError('epreuve_pic_link') %} has-error{% endif %}">
                    <input type="file" name="epreuve_pic_link" id="epreuve_pic_link">
                    <span class="help-block">{{ error('epreuve_pic_link') }}</span>
                </div>

                {{ form.group('date_fin', epreuve.date_fin|date('d/m/Y'), 'date_fin', 'Fin', null, 'text', 'JJ/MM/AAAA') }}
                {{ form.group('heure_fin', epreuve.heure_fin|date('H:i'), 'heure_fin', 'Heure', null, 'text', '12:00') }}

                <div class="form-group{% if hasError('description') %} has-error{% endif %}">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" placeholder="Donnez les détails concernant cette épreuve" class="form-control">{{ epreuve.description }}</textarea>
                    <span class="help-block">{{ error('description') }}</span>
                </div>

                {{ form.group('capacite', epreuve.capacite, 'capacite', 'Capacité maximum', null, 'number') }}
                {{ form.group('prix', epreuve.prix, 'prix', 'Prix de participation (€)', null, 'number') }}

                <div class="form-group{% if hasError('etat') %} has-error{% endif %}">
                    <label for="etat">État</label>
                    <select name="etat" id="etat" class="form-control">
                        <option value="0"{% if epreuve.etat == 0 %} selected{% else %} disabled{% endif %}>Choisir un état</option>
                        <option value="1"{% if epreuve.etat == 1 %} selected{% endif %}>Validé</option>
                        <option value="2"{% if epreuve.etat == 2 %} selected{% endif %}>Ouvert à l'inscription</option>
                        <option value="4"{% if epreuve.etat == 4 %} selected{% endif %}>Clos à l'inscription</option>
                        <option value="3"{% if epreuve.etat == 3 %} selected{% endif %}>En cours</option>
                        <option value="5"{% if epreuve.etat == 5 %} selected{% endif %}>Expiré</option>
                        <option value="6"{% if epreuve.etat == 6 %} selected{% endif %}>Annulé</option>
                    </select>
                    <span class="help-block">{{ error('etat') }}</span>
                </div>

                {{ csrf() }}
                <input type="submit" class="btn btn-primary" value="Modifier l'épreuve">
            </form>
        </div>
    </div>

{% endblock %}