{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}
<div class="jumbotron">{{evenement.nom}} </div>
<div class="container">
<form action="{{ path_for('epreuve.join', {'id': evenement.id}) }}" method="POST" enctype="multipart/form-data">
    <div class="form-group{% if hasError(name) %} has-error{% endif %}">
    {% for epreuve in epreuves%}
            <input type="checkbox" name="epreuve" value="{{epreuve.id}}"  class="epreuve">{{ epreuve.nom }}
    {% endfor%}
    </div>
    {{ csrf() }}
    <input type="submit" class="btn btn-primary">
</form>
</div>

{% endblock %}
