{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <img src="{{ base_url() }}/{{ evenement.webPath }}" alt="Evenement" style="max-height: 200px;">
    <h2>Épreuve : {{ epreuve.nom }}</h2>
    <div class="row">
        <div class="col-md-4">
            <h3>Début</h3>
            <p>{{ epreuve.date_debut|date('d F Y') }}</p>
            <p>{{ epreuve.date_debut|date('H') }}h{{ epreuve.date_debut|date('i') }}</p>
        </div>
        <div class="col-md-4">
            <img src="{{ base_url() }}/{{ epreuve.webPath }}" alt="Epreuve" style="width: 100%;">
        </div>
        <div class="col-md-4">
            <h3>Fin</h3>
            <p>{{ epreuve.date_debut|date('d F Y') }}</p>
            <p>{{ epreuve.date_debut|date('H') }}h{{ epreuve.date_debut|date('i') }}</p>
        </div>
        <div class="col-xs-12">
            <p class="text-center">État de l'épreuve : {{ epreuve.state }}</p>
        </div>
    </div>
    <hr>
    <p class="well">{{ epreuve.description }}</p>
    <p class="text-center">Capacité maximum : {{ epreuve.capacite }}</p>
    <p class="text-center">Prix de participation : {{ epreuve.prix }} €</p>
    <a href="{{ path_for('resultat', {'event_id': evenement.id, 'trial_id': epreuve.id})  }}" class="btn btn-danger">Voir le classement</a>
    <a href="{{ path_for('recherchePerso', {'event_id': evenement.id, 'trial_id': epreuve.id})  }}" class="btn btn-success">Voir mon résultat</a>
    <hr> <div id="disqus_thread"></div>
    <script id="dsq-count-scr" src="//sports-net.disqus.com/count.js" async></script>

    <script>

       /*  var disqus_config = function () {
         this.page.url = localhost;  // Replace PAGE_URL with your page's canonical URL variable
         this.page.identifier = 1234; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };*/
        (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
            var d = document, s = d.createElement('script');

            s.src = '//sports-net.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



{% endblock %}
