{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="page-header" style="background-image:url('{{ base_url() }}/img/intro.jpg')">
    <div class="page-header-content">
         <span class="majuscule">SportsNet, le sport commence ici</span>
    </div>
</div>

<div class="container">

                    <form action="{{ path_for('login') }}" method="POST">
                        {{ form.group('email', null, 'email', 'Adresse email', null, 'email') }}
                            {{ form.group('password', null, 'password', 'Mot de passe', null, 'password') }}
                        {{ csrf() }}
                        <div class="forcer-droite">
                            <input type="submit" value="Connexion" class="btn btn-vert">
                            <input type="checkbox" name="remember"> Se souvenir de moi
                        </div>

                    </form>
       </div>

{% endblock %}
