{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="boite container">
    <div class="page-header">
        <h4>Mon compte :</h4>
    </div>

    <form action="{{ path_for('user.compte') }}" method="POST">

        {{ form.group('nom', organisateur.nom, 'nom', 'Nom') }}
        {{ form.group('prenom', organisateur.prenom, 'prenom', 'Prénom') }}
        {{ form.group('paypal', organisateur.paypal, 'paypal', 'Adresse Paypal', null, 'email') }}
        {{ form.group('email', auth.user.email, 'email', 'Email', null, 'email') }}
        {{ csrf() }}

        <input type="submit" value="Modifier" class="forcer-droite btn btn-primary">
    </form>
</div>

{% endblock %}
